body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 35px;
}

#cabecalho {
    width: 100%;
    height: 100px;
    background-color: hsl(217, 28%, 15%);
    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 50px;
    height: 30px;
}

header li {
    justify-content: space-between;
    color: white;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding-left: 10px;
    padding-right: 50px;
    color: white;
}

.menu li a:hover {
    color: hsl(176, 68%, 64%);
}

.container {
    display: flex;
    color: white;
    justify-content: center;
    background-color: hsl(217, 28%, 15%);
    height: 100vw;
    
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.container-content span {
    max-width: 450px;
}

button {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(192, 70%, 51%));
    color: white;
}

button:hover {
    background-image: linear-gradient(to right, hsl(150, 50%, 64%), hsl(192, 70%, 51%));
    color: white;
    cursor: pointer;
}

.container2 {
    margin-top: -200px;
    display: flex;
    justify-content: center;
    background-color: hsl(217, 28%, 15%);
    height: 100vh;
}

.container2-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    color: white;
}

.container2-content span {
    max-width: 450px;
}

.container2-content h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container2-content button {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(192, 70%, 51%));
    color: white;
}

.container3 {
    display: flex;
    justify-content: center;
    background-color: hsl(217, 28%, 15%);
    height: 100vh;
}

.container3-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    color: white;
    background-color: hsl(217, 28%, 15%);
}

.container3-content img {
    height: 400px;
    margin-left: 200px;
}

.container3-content-p {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: justify;
    width: 50%;
    color: white;
    background-color: hsl(217, 28%, 15%);
}

.container3-content-p a:hover {
    color: white;
    transition: 0.5s;
}

.container3-content-p h1 {
    margin-left: 50px;
}

.container3-content-p img {
    height: 15px;
    width: 15px;
    margin-bottom: -4px;
}

.container3-content-p a {
    color:  hsl(176, 68%, 64%);
    text-decoration: none;
}

.bar-link {
    height: 2px;
    width: 150px;
    margin-top: -10px;
    background-color:  hsl(176, 68%, 64%);
}

.bar-link:hover {
    background-color: white;
    transition: 0.5s;
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 28%, 15%);
    height: 50vh;
    color: white;
}

.container4-content {
    display: flex;
    background-color: hsl(217, 28%, 15%);
    width: 1200px;
}

.container4-content-item{
    flex: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    align-items: center;
    text-align: justify;

}

.container4-content-item h5 {
    margin-top: -40px;
    margin-left: 70px;
}

.container4-content-item h6 {
    font-size: 7px;
    margin-top: -20px;
    margin-left: 70px;
    color: #ccc;
}

.container4-content-item img {
    width: 50px;
    border-radius: 25px;
    align-items: left;
}

.quotes {
    width: 50px;
    height: 50px;
}

.box1, .box2, .box3 {
    background-color:hsl(219, 30%, 18%);
}

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 500px;
    background-color: hsl(217, 28%, 15%);
}

.container5-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 300px;
    background-color: hsl(219, 30%, 18%);
}

.container5-content span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container5-content-email {
    display: block;
    margin-top: 50px;
}

.container5-content-email input {
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: none;
}

.container5-content-email input::placeholder {
    color: #ccc;
}

.container5-content-email label {
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(192, 70%, 51%));
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 50px;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(217, 28%, 15%);
    height: 400px;
    color: white;
}

.footer-content {
    display: block;
    margin-left: 100px;
    background-color: hsl(217, 28%, 15%);
    height: 300px;
    width: 90%;
}

.footer-content-icon-fylo {
    height: 50px;
}

.footer-content-icon-location {
    display: flex;
    height: 20px;
    margin-top: 30px;
}

.footer-content-icon-location span {
    max-width: 350px;
    margin-top: -20px;
}

.footer-content-icon-location p {
    margin-left: 10px;
}

.footer-content-icons {
    display: flex;
}

.footer-content-icons img {
    height: 20px;
    margin-top: -20px;
    margin-left: 450px;
}

.footer-content-icons img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

.footer-content-icons span {
    margin-left: 20px;
    margin-top: -30px;
}

.footer-content-icons-email {
    display: flex;
}

.footer-content-icons-email img {
    height: 20px;
    margin-top: 20px;
    margin-left: 450px;
}

.footer-content-icons-email img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

.footer-content-icons-email span {
    margin-left: 20px;
    margin-top: 5px;
}

.tabela {
    max-width: 150px;
    margin-left: 700px;
    margin-top: -100px;
}

.tabela td {
    padding: 10px;
}

